@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/* base styles */
body {
  background: #d5d5d5;
  font-family: 'Roboto';
  color: #444;
  max-width: 960px;
  margin: 100px auto;
  padding: 10px;
}
nav {
  display: flex;
  justify-content: center;
}
nav h1 {
  margin: 0;
  align-items: center;
  padding-right:50px;
}
.blog-new {
 
  
  max-width: 200px;
}
.search a {
  color: white;
  text-decoration: none;
  background: #36cca2;
  padding: 5px;
  border-radius: 10px;
  
}
.search button {
  background-color: #73817d;;

}
form {
  width: 98%;
  justify-content: space-between;
}
form input {
  width: 98%;
  
}
input, textarea {
  display: block;
  margin: 16px 0;
  padding: 6px 10px;
  width: 98%;
  border: 1px solid #ddd;
  font-family: 'Roboto';
}
textarea {
  min-height:200px;
}

/*share social media*/
.social-sharing {
  margin: 10px;
  display: flex;
  justify-content:center;
}
.social-sharing a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  background:#36cca2;
  padding: 16px;
  border-radius:  10px;
  margin: 20px 10;
}
.delete{
  color: #ffffff;
  font-weight: 700;
  padding: 6px;
  margin: 10px 0;
  background-color: #73817d;;
}
.details{
  padding: 16px;
  background: white;
  border-radius: 10px;
  margin: 20px 0;
}

/* post list */
.post {
  width: 98%;
  padding: 4px;
  background: white;
  border-radius: 10px;
  margin: 20px 0;
}
.post h2 {
  margin: 0;
}
.post p {
  margin-top: 0;
}
.post a {
  color: #36cca2;
}

/* update page  */
.update-form input, textarea {
  
  margin: 5px;
  padding: 4px;
  border: 1px solid white;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button{
  margin: 5px;
  padding: 4px;
  border-radius: 5px;
  background-color: #36cca2;
  border: #36cca2;
  color: #ffffff;
  font-weight: 800;
}
input, textarea{
  width: 98%;;
  margin: 10px 10px;
  padding: 10px;
  border-radius: 10px;
}

