$font-stack:'Roboto', sans-serif;
$primary-color: #333;
$bg: #38b8d7;
$color: #ffffff;
$text-bg:#e4e4e4;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

body {
  background: $color;
  font-family: $font-stack;
  color: $primary-color;
  max-width: 960px;
  margin: 100px auto;
  padding: 10px;

  nav {
    display: flex;
    justify-content: center;
    h1 {
      margin: 0;
      align-items: center;
      padding-right: 50px;
      color: $bg;
      font-weight: 800;
      font-size: 35px;
    }
  }
  .update-value {
    padding: 8px 20px;
  border-radius: 50px;
  border:1px solid #38b8d7;
  color: $bg;
  font-weight: 800;
  background: $text-bg;
  text-decoration: none;
  &:hover{
    background-color: $bg;
    color: $color;
  }
  }

.blog-new {
  max-width: 200px;
}

.search{
  a {
    color: $color;
    text-decoration: none;
    background: $bg;
    padding: 8px 20px;
    border-radius: 50px;
    border:$bg;
    font-weight: 800;
}
div{
  display: flex;
  justify-content: space-between;
}
}
form {
  width: 98%;
  justify-content: space-between;
  input {
    width: 98%;
  }
}
  input,
  textarea {
    display: block;
    margin: 16px 10px;
    padding: 6px 10px;
    width: 98%;
    border: 1px solid #ddd;
    font-family: 'Roboto';
  }
  textarea {
    min-height: 200px;
  }

/* share social media */
.social-sharing {
  margin: 10px;
  display: flex;
  justify-content: center;
}
.social-sharing a {
  color: $color;
  text-decoration: none;
  background: $bg;
  padding: 8px  20px;
  border-radius: 50px;
  margin: 0px 10;
  border: $bg;
  font-weight: 800;
  }

.delete {
  color: $color;
  text-decoration: none;
  background: rgb(121, 10, 10);
  padding: 8px 20px;
  border-radius: 50px;
  border: $bg;
  font-size: 17px;
  font-weight: 800;
  &:hover{
    background: rgb(84, 115, 125);
    transition: background 2s;
  }
}

.details {
  padding: 16px;
  background: $text-bg;
  border-radius: 10px;
  margin: 20px 0px;
  border-radius: 15px;
  background: $text-bg;
  border: 1px solid $bg;
}

/* post list */
.post {
  width: 98%;
  padding: 20px;
  background: $text-bg;
  border-radius: 10px;
  margin: 40px 0;
  box-shadow: 5px 5px 2px 2px rgba(68, 68, 72, 0.2);
}
.post h2 {
    margin: 10px;
  }
  .post p {
    margin: 10px;
  }
.post a {
  color: $bg;
  margin: 10px;
  margin-right: 50px;
  text-decoration: none;
  border-radius: 20px;
  border:1px solid $text-bg;
  padding: 8px;
  &:hover{
    // background-color: $bg;
    padding: 8px;
    background-color: $bg;
    color: $color;
  }
}

/* update page */
.update-form {
  input, textarea {
    margin: 5px;
    padding: 4px;
    border-radius: 15px;
    background: $text-bg;
    border: 1px solid $bg;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
  button {
  padding: 8px 20px;
  border-radius: 50px;
  border:1px solid #38b8d7;
  color: $bg;
  font-weight: 800;
  background: $text-bg;
  &:hover{
    background-color: $bg;
    color: $color;
  }
  }
  input,
  textarea {
    width: 98%;
    margin: 10px 0px;
    padding: 10px;
    border-radius: 15px;
    background: $text-bg;
    border: 1px solid $bg;
  }

  //pagination 
  .pagination-arrow {
    text-decoration: none;
    color: $bg;
    font-weight: 800;
    &:hover{
      color: black;
    }
}
  .pagination {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
  }
}